---
import React from './icons/React.astro';
import Tailwind from './icons/Tailwind.astro';

interface Tag {
  name: string;
  class?: string;
  icon?: any;
}

const TAGS = {
  REACT: {
    name: 'React.js',
    class: "bg-[#23272F] text-[#58C4DC]",
    icon: React,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: "bg-[#0B1120] text-[#0EA5E9]",
    icon: Tailwind,
  },
} satisfies Record<string, Tag>

interface Project {
  title: string;
  description: string;
  public_link: string;
  github_repo: string;
  image: string;
  tags: Tag[];
}

const PROJECTS: Project[] = [
  {
    title: "My First Project",
    description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
    public_link: "#",
    github_repo: "#",
    image: "/projects/tabler-icons.png",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200/90 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex flex-wrap gap-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-3`}>
              <tag.icon class="size-4 mt-0.5" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${image}`} />
    </article>
  ))
}
